:root{
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --red-color:#f44336;
    --green-color:#22c55e;
    --grey-color:#888;
}
/* overview  */
@media(max-width:767px){
    .overview{
        flex-direction: column;
    }
}
/* avater-box  */
.avater-box{
    width:300px;
    max-width: 100%;
    margin-top:auto;
    margin-bottom:auto;
}
.avater-box  img{
    width: 120px;
}
.avater-box  .lavel{
    background-color:#eee;
    border-radius:6px;
    position:relative;
    height:6px;
    overflow:hidden;
    margin:auto;
    width:80%;
}
.avater-box  .lavel span{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    background-color: var(--blue-color);
    border-radius:6px;
}
@media(min-width:768px){
    .avater-box{
        width:300px;
        border-right:1px solid #eee;
    }
}
@media(max-width:768px){
    .avater-box{
        margin-left:auto;
        margin-right:auto;
    }
}
/* info-box */
.info-box .box{
    flex-wrap:wrap;
    transition:0.3s;
}
.info-box .box:not(:last-of-type),.widgets .box:not(:last-of-type){
    border-bottom:1px solid #eee;
}
.info-box .box:hover{
    background-color:#f6f6f6;
}
.info-box .box h4{
    font-weight:normal;
}
.info-box .box div{
    margin:5px 0;
}
@media(max-width:768px){
    .info-box .box div{
        min-width:200px;
    }
}
@media(min-width:768px){
    .info-box .box div{
        min-width:300px;
    }
}
.info-box .box div label .toggle-checkbox{
    display:none;
}
.info-box .box div .toggle-switch{
    background-color: #ccc;
    min-width:92px;
    max-width: 92px !important;;
    height: 22px;
    border-radius:16px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.info-box .box div .toggle-switch::before{
    font-family:var(--fa-style-family-classic);
    content:"\f00d";
    font-weight:900;
    background-color:white;
    width:18px;
    height:18px;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    left:3px;
    top:2px;
    transition: 0.3s;
} 
.info-box .box div label .toggle-checkbox:checked + .toggle-switch{
    background-color:var(--blue-color);
}
.info-box .box div label .toggle-checkbox:checked + .toggle-switch::before{
    content:"\f00c";
    color:var(--blue-alt-color);
    left:72px;
}
/* widgets */
@media(max-width:768px){
    .widgets{
        flex-direction: column;
    }
}
/* skills card */
.profile-page .skills-card {
    flex-grow: 1;
    min-width:200px;
}
.profile-page .skills-card ul li {
    padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
    display: inline-block;
    padding:4px 8px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 12px;
    margin:2px 0;
}
.profile-page .skills-card ul li span:not(:last-child) {
    margin-right: 5px;
}
.profile-page .activities-card {
    flex-grow:2;
}
/* onther way
@media(max-width:768px){
    .skills-card .box{
        min-width:200px;
        padding:10px 0;
    }
}
@media(min-width:768px){
    .skills-card .box{
        min-width:250px;
        padding:10px 0;
    }
}
.skills-card  .box span{
    display:inline-block;
    font-size:12px;
}
*/
/* activities-card */
.activities-card .activity:not(:last-of-type){
    border-bottom:1px solid #eee;
    padding-bottom:20px;
    margin-bottom:20px;
}
.activities-card .activity img{
    width:64px;
    height:64px;
}
@media(max-width:768px){
    .activities-card .activity{
        flex-direction:column;
        text-align: center;
    }
    .activities-card .activity img{
        margin-bottom:10px;
    }
    .activities-card .activity .info{
        margin-bottom:10px;
    }
}
@media(min-width:768px){
    .activities-card .activity img{
        margin-right:10px;
    }
    .activities-card .activity .date{
        margin-left:auto;
        text-align:right;
    }
}


